@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  /* Fuentes */
  --font-display: "Orbitron", sans-serif;
  --font-body: "Space Grotesk", sans-serif;

  /* Colores */
  --color-background: #03042c;
  --color-foreground: #f0f2f5;

  --color-card: #0a1051;

  --color-primary: #00f2ff;
  --color-primary-foreground: #03042c;

  --color-secondary: #1f2830;
  --color-secondary-foreground: #7a8491;

  --color-muted: #252e37;
  --color-muted-foreground: #7a8491;

  --color-border: #242b32;

  --radius: 0.75rem;

  --color-highlight: #f5a623;
  --color-surface: #1a2329;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-body);
  }
}

@layer components {
  .glass{
    background-color: color-mix(in srgb, var(--color-surface) 50%, transparent);
    backdrop-filter: blur(16px);
    border: 1px solid color-mix(in srgb, var(--color-border) 50%, transparent);
  }

  .glass-strong{
    background-color: color-mix(in srgb, var(--color-surface) 80%, transparent);
    backdrop-filter: blur(26px);
    border: 1px solid color-mix(in srgb, var(--color-border) 80%, transparent);
  }

  .glow-text{
    text-shadow: 0 0 30px color-mix(in srgb, var(--color-primary) 50%, transparent);
  }

  .animate-shine {
    animation: shine 0.8s ease-in-out;
  }
}

@layer utilities {
  @keyframes slow-drift {
    0%,
    100% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(20px, -30px);
    }
    50% {
      transform: translate(-15px, -20px);
    }
    75% {
      transform: translate(30px, 10px);
    }
  }

  @keyframes shine {
    100% {
      left: 125%;
    }
  }

}